doctype html
head
  // Meta Tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Fonts
  link(rel='dns-prefetch' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css?family=Raleway:300,400,600' rel='stylesheet' type='text/css')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css')
  // Custom CSS
  link(rel='stylesheet' href='css/style.css')
  title Reset Password
nav.navbar.navbar-expand-lg.navbar-light.navbar-laravel
  .container
    img#logo(src='https://ocean.builders/wp-content/uploads/2020/02/white-back-logo-1.png' href='https://ocean.builders/' alt='Ocean Builders' data-height-percentage='100' data-actual-width='800' data-actual-height='579')
main.reset-form
  .cotainer
    .row.justify-content-center
      .col-md-6
        .card
          .card-header Reset Password
          .card-body
            form#myform(action='' method='post')
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') New Password
                .col-md-6.pass_show
                  input#password.form-control(type='password' placeholder='New Password' name='password' required='')
              .form-group.row
                label.col-md-4.col-form-label.text-md-right(for='password') Confirm Password
                .col-md-6.pass_show
                  input#confirm_password.form-control(type='password' placeholder='Confirm Password' name='confirm_password' required='')
              #errordiv
              .col-md-6.offset-md-4
                button#resetBtn.btn.btn-primary(type='submit' disabled='')  Reset Password 
// Scripts
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js')
script(src='js/script.js')
