@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

body {
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f5f8fa;
}

.navbar-laravel {
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
}

.navbar>.container {
    justify-content: center;
}

.navbar-brand , .nav-link, .my-form, .reset-form {
    font-family: Raleway, sans-serif;
}

.my-form {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row {
    margin-left: 0;
    margin-right: 0;
}

.reset-form, .error {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.reset-form .row {
    margin-left: 0;
    margin-right: 0;
}

.pass_show {
    position: relative
} 

.pass_show .ptxt  { 
    position: absolute; 
    top: 50%; 
    right: 10px; 
    z-index: 1; 
    color: #007bff; 
    margin-top: -10px;
    margin-right: 1em;
    cursor: pointer; 
    transition: .3s ease all; 
} 

.pass_show .ptxt:hover {
    color: #333333;
} 

#logo {
    height: 7em;
}

label.error {
    color: #cf0909;
    display: block;
    padding: 2px;
}